.formulario {
    display: flex;
    justify-content: center;

}

.formulario form {
    max-width: 80%;
    background-color: #F2F2F2;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
    padding: 36px 64px;
}

@media screen and (min-width: 768px){

    .formulario{
        margin: 40px 0 80px 0;
    }

    .formulario form {
        border-radius: 20px;
    }
}
